[RIBBON PRINT]
Title: {{{name}}}
Date: {{{date}}}
----------------------------------------
[Event/Recipient (Left)]
{{{event}}}

[Sender (Right)]
{{{sender}}}

[Other Text]
{{#items}}
- {{{text}}}
{{/items}}
----------------------------------------
End of Print
